#parte3 {
    font-family: 'Ink Free';
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    position: relative;
}

#parte3::before {
    text-shadow: 5px 5px 5px black;
    filter: brightness(0.4);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url("./imgs/party.png");
    width: 100%;
    height: 100%;
}

#parte3 #textoEventos {
    width: 50%;
    margin-right: 200px;
    text-align: end;
    position: relative;
}

#parte3 h2 {
    font-weight: bold;
}

#parte3 h3 {
    font-size: 5.3em;
}

#parte3 p {
    font-size: 1.9em;
}

#parte3 a {
    font-family: Arial;
    display: inline-block;
}